#file_drop {
    border: 10px dashed #ccc;
    width: 300px;
    height: 300px;
    margin: 20px;
}

.push-right {
    width: 300px;
    margin: 20px auto;
}

button.pad {
    margin-top: 10px;
    margin-bottom: 30px;
}

.badge-green {
    background-color: #eee;
    color: #5cb85c;
    font-size: 13px;
}

.badge-red {
    background-color: #eee;
    color: #d9534f;
    font-size: 13px;
}

#progress {
    width: 450px;
    margin: 20px auto;
    padding-left: 30px;
    padding-right: 30px;
}

#canvasdiv {
    height: 640px;
    width: 640px;
    margin: 20px auto;
}

@media (min-width: 768px) {
  .container-narrow {
    max-width: 730px;
  }
}

#container-nopad {
    display: none;
    padding-top: 0px !important;
}

#content {
    display: none;
}